body{
    margin:0;
}
.entire-header
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color: rgb(240, 140, 59);

}
.logo{
    display: inline-block;
    margin: auto 5px;
    height:auto;
    
}
.login-link:hover,.logo:hover{
    background-color: rgb(240, 140, 59);
    opacity: 0.7;
    margin: 0px;
    transition: 1s;
}
.login-link{
    display: inline-block;
    height: auto;
    margin: auto 5px;
}
.photo{
    padding-bottom: 10px;
}
img{
    margin-top:15px
}
h3{
    color:rgb(10, 9, 9);
    font-family:'Times New Roman', Times, serif;
}
h3{
    display:inline-block;
    height:auto;
}
a{
    text-decoration: none;
    height: auto;
}
.entire-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 50px;
}
.details-inner{
    margin-top: 50px;
    margin-left: 5px;
    color:orange;
}
#first,#pass,#pass1,#username,#last,#coll,.opt
{
    outline: none;
    border:2px solid rgb(13, 13, 13);
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 10px;
    border-radius:20px;
    padding-right: 30px;
}
.n0,.n1,.p0,.p1,.cl,.pr,.us{
    font-size: larger;
    font-weight: bold;
}
.arr1{
    margin-left:20px;
}
.arr2{
    margin-left:22px;
}
.arr3{
    margin-left:26px;
}
.arr4{
    margin-left:28px;
}
.arr5{
    margin-left:28px;
}
.arr6{
    margin-left:45px;
}
.arr7{
    margin-left:23px;
}
.opt{
    padding-left:60px;
    padding-right:60px;
}

.pr{
    margin-left: 2px;
}

a{
    color:rgb(72, 156, 235);
}
button{
    padding:10px;
    background-color: rgb(67, 116, 182);
    color:white;
    border: none;
    border-radius: 10px;
    margin-left: 120px;
}
button:hover{
    background-color: rgb(214, 9, 146);
    transition: 0.5s;
}
option{
    background-color: rgb(240, 247, 240);
}
.advertisment{
   border:1px solid red;
   display: inline-block;
   width: 420px;
   height: 350px;
}

@media (max-width: 320px) {
    .advertisement {
        width: 320px;
    }

}

main{
    margin-top:10px;
}
.at-last{
    width: 100%;
    height: 100px;
    background-color: rgb(31, 30, 30);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.color-it{
    color:red;
}
li{
    display: inline;
    list-style: none;
    margin-left: 20px;
}
